@media (max-width:1366px){

}

@media (max-width: 1133px){
	.footer .footer_part .part_2 .time ul li .s2
	  {
                width: 100%;
   
                margin-left:20px;
                   
      }
}



@media (max-width: 1087px){


	        .main .header_up
	        {
	        	display: none;
	        }

			.nav .checkbtn
			{
				display: block;
				line-height: 60px;
				text-transform: uppercase;
			}

			.nav
			{
				height: 60px;
				background: black;
				border: none;
			}

			.nav .logo a
			{
				float: left;
				line-height: 55px;
				margin-left: 10px;
				font-size: 23px;
				position: absolute;
				top:0;
				left: -100px;
				
			}

			.nav ul li
			{
				display: none;
			}

			.main .text
			{
				text-align: center;
			}

			.footer
			{
     	       height: auto;
     	       width: 100%;
            }

          .footer .footer_part
            {
     	        height: auto;
     	        width: 100%;

            }
     
          .footer .footer_part .part_1, .part_2, .part_3, .part_4
          {
     	     width: 25%;
     	     height: auto;
           }

          .footer .Copyright
           {
     	  	margin-left: 100px;
     	
           }
			  
}
@media(max-width: 1053px){
	.reservetion_form{width: 70%;/*height: auto;*/margin-left: 100px;}
             .reservetion_form span{left:50px ;}
             .reservetion_form h1{padding-left: 50px;font-size: 45px;}

                  table , tr,td{
             	/*display: block;*/
             	width: 50%;
             }


             /* .reservetion_form  table{
             	margin-left: 70px;
             
             	
             } */
             .reservetion_form  table input{
             	width: 100%;
             }
             .reservetion_form  table select{
             	width: 100%;
             }

             .reservetion_form  button{
             	margin-left: 180px;
             	width: 50%;
             	margin-top: 70px;
             	margin-bottom: 30px;
             }
}


@media (max-width: 996px){
	
	        .footer
	        {
     	         height: auto;
     	         width: 100%;
            }

           .footer .footer_part
           {
     	         height: auto;
     	         width: 75%;

           }

          .footer .footer_part .part_1, .part_2, .part_3, .part_4
          {
     	        width: 50%;
     	        height: auto;
           }

          .footer .Copyright 
          {
     	  	margin-left: 100px;
     	
          }
}


@media (max-width: 981px){
             
             

             .main .text{
		border: none;
		height: 585px;
		width:100%;

	}
	.text span{
		      position: absolute;
				top: 220px;
				left: 350px;
				font-size: 80px;
	}
	.text h1{
		font-size: 45px;
		padding-top: 300px;
	}
	.imagefooter{
		
		height: auto;
		width: 100%;
		display: flex;
        	flex-wrap: wrap;

	}
	.imagefooter img{
        		margin-top: 15px;
        		margin-left: 65px;
        		/*border-radius: 50%;*/
        	}
        	.imagefooter h3{
        		text-align: center;
        		margin-left: 10px;

        		/*font-size: 18px;*/
        		margin-top: 8px;


        		/*color: white;*/
        	}
        	.imagefooter p{

        		margin-left: 10px;
        		margin-top: 4px;
        		color:#edebebb8;
                font-size: 14px;
                text-align: center;
        	}
	
	.imagefooter .breakfast_1, .breakfast_2, .breakfast_3, .breakfast_4{
        	height: 225px;
        	width: 25%;
        	
        	}
        	.imagefooter .breakfast_2{
        		
        	height: 225px;
        	width: 25%;
        	/*padding-left: 45px;*/

        	}
        	.imagefooter .breakfast_3{
        	height: 225px;
        	width: 25%;
        	/*padding-left: 45px;*/
        }
        .imagefooter .breakfast_4{
        	height: 225px;
        	width: 25%;
        	/*padding-left: 45px;*/
        }


        	
        	.imagefooter h3{
        		color: black;
        }
        	.imagefooter p{
        		
        		color:grey;

        	}
        	.about .about_image .image_1{
   	
   	width: 50%;
   	margin-left: 100px;
   	
   }
   .about .about_image .image_1 .img1{
   	height: 550px;
   	width: 50%;
   	padding: 10px;
   	padding-top: 0;
   }
   .about .about_image .image_1 .img2{
   	height: 551px;
   	width: 50%;
   	padding: 10px;
   	padding-top: 0;

   }

   .about .about_image .about_text{
        	 	height: 520px;

        	 	width: 37%;
        	 	/*margin-left: 125px;*/
        	 	margin-top: 0;

        	 }

        	 .about .count {
        	 	
        	 	padding-left: 100px;
        	 	padding-right: 0;
        	 	margin-top: 0;
        	 	padding-top: 20px;
        	 }
        	 .about .count .count_1{
              	height: 100px;
   	            width: 16%;
   	            padding-left: 0;

   	            
                }
                 
                  .about .count .count_2{
                	height: 100px;
   	                width: 16%;
   	               /*background: pink;*/
   	               padding-left: 0;
                   }
                   
                   .about .count .count_3{
   	height: 100px;
   	width: 16%;
   	
   	padding-left: 0;
   }
   
   .about .count .count_4{
   	height: 100px;
   	width: 16%;
   	/*background: pink;*/
   }
    
   .about .count .count_5{
   	height: 150px;
   	width: 25%;
   	/*background: pink;*/
   }
    

       .services{
       	margin-top: 50px;
       }
        	
	      .services span
	      {
    	      display: block;
    	      width: 100%;
    	      position: absolute;
    	      top: 80px;
    	      left: 325px;
    	
          }

         .services h1
         {
    	     font-size: 45px;
    	     padding-top: 150px;
    	     padding-left: 275px;

          }

         .services .services_div
           {
    	     margin-left: 50px;
           }

         .services .services_div .Birthday
         {
    	    height: auto;
    	    width: 33.33%;
         }

         .services .services_div .Business
         {
    	   height: auto;
    	   width: 33.33%;
         }

        .services .services_div .Wedding
        {
     	   height: auto;
     	   width: 33.33%;
     	
        }


        .menu{
     	height: auto;
     }


     .menu span{
     	position: absolute;
     	top: 100px;
     	left: 290px;
     	
     }
     .menu h1{
     	font-size: 45px;
     	padding-top: 90px;
     	padding-left: 370px;
     }
     .menu .menu_images{
     	width: 100%;
     	height: auto;
     	margin-left: 0;
     	display: flex;
     	flex-wrap: wrap;
     	
     }
     .pic{
     	height: 225px;
     	width: 50%;
     	
     }
     .order{
     	height: 225px;
     	
     	width: 50%;
     }
     .menu .menu_images  .menu_div1 .menu1{
     	width: 65%;
     	height: auto;
     	margin-left: 180px;

     }
     .menu .menu_images  .menu2{
     	width: 65%;
     	height: auto;
     	margin-left: 180px;
     }
      
     .menu .menu_images .menu_div2 .menu3{

     	width: 65%;
     	height: auto;
     	margin-left: 180px;
     }
     .menu .menu_images .menu_div2 .menu4{
     	
     	width: 65%;
     	height: auto;
     	margin-left: 180px;
     }
      .menu .menu_images .menu_div3 .menu5{
      	width: 65%;
      	height: auto;
      	margin-left: 180px;
      	
      }
      .menu .menu_images .menu_div3 .menu6{
      	width: 65%;
      	height: auto;
      	margin-left: 180px;
      }
          

        .chef
          {
     	        height: auto;
            	padding-top: 50px;
            	position: relative;
          }

          .chef span
          {
            	position: absolute;
            	top: 50px;
            	left: 400px;
          }

          .chef h1
          {
            	font-size: 45px;
            	padding-top: 70px;
            	padding-left: 300px;
          }

          .chef .chef_div
          {
            	width: 100%;
          }

          .chef .chef_div .chef_1
          {
            	width: 40%;
            	
          }

          .chef .chef_div .chef_2
          {
            	width: 40%;
            	
          }
           .chef .chef_div .chef_3{
            	width: 40%;
            }
             .chef .chef_div .chef_4{
            	width: 40%;
            }

            .reservetion_form  button{
             	margin-left: 100px;
             	/*width: 81%;*/
             	margin-top: 10px;
             	/*margin-bottom: 30px;*/
             }
 
          .customer_div
          {
             	height: auto;
             	position: relative;
          }

          .customer_div span
          {
             	position: absolute;
             	top: 100px;
             	left: 300px;

           }

           .customer_div h1
           {
             	font-size: 42px;
             	padding-left:270px;
           }

           .customer_div .customers
           {
             	height: auto;
             	width: 80%;
             	margin: 25px auto 0 auto;
           }

           .customer_div .customers .customer_1
           {
             	width: 50%;
             	
           }

           .customer_div .customers .customer_2
           {
               width: 50%;
           }

           .customer_div .customers .customer_3
           {
                display: none;
           }

           .blog
	           {
             	     height: auto;
                }
                .blog span{
         
    top: 80px;
    left:38%;
    
       }
       .blog h1{
        
        
        padding-top: 130px;
        padding-left: 29%;

       }

             .blog .blog_div
             {
             	height: auto;
             	width: 85%;
             	margin-left: 90px;

             }

             .blog .blog_div .recent_post_1, .recent_post_2, .recent_post_3
             {
             	width: 31%;
             	margin-left: 0;
             }

             .blog .blog_div  i
              {
             margin-left: 50px;
              }

              .footer .Copyright{

            margin-left: 180px;
            

           }

}
@media(max-width: 961px){
	 .reservetion_form{width: 70%;/*height: auto;*/margin-left: 120px;}
             .reservetion_form span{left:50px ;}
             .reservetion_form h1{padding-left: 50px;font-size: 45px;}

                  table , tr,td{
             	/*display: block;*/
             	width: 50%;
             }


             /* .reservetion_form  table{
             	margin-left: 70px;
             
             	
             } */
             .reservetion_form  table input{
             	width: 100%;
             }
             .reservetion_form  table select{
             	width: 100%;
             }

             .reservetion_form  button{
             	margin-left: 40px;
             	width: 81%;
             	margin-top: 70px;
             	margin-bottom: 30px;
             }
}

@media (max-width: 878px){
	
	      .about .about_image
	      {
           	  height: auto;
           	  width: 100%;
           }

           .about .about_image .image_1
           {
           	height: 600px;
           	width: 50%;
           	margin-left: 0;

           }

           .about .about_image .image_1 .img1
           {
           	  height: 600px;
           	  width: 50%;

           }

           .about .about_image .image_1 .img2
           {
             	height: 600px;
           	    width: 50%;
           	
           }
           .about .about_image .about_text
           {
        	 	height: 550px;
        	 	width: 50%;
        	 	
           }

         
        	 
}


@media (max-width: 821px){


	        .main .text
	         {
		        border: none;
		         height: 585px;
		        width: 100%;
	          }

	        .text span
	         {
		        position: absolute;
		        top: 200px;
		        left: 250px;
		        font-size: 70px;
	          }

	        .text h1
	        {
		        font-size: 35px;
		        padding-top: 280px;
		        padding-left: 50px;
	        }

	       .imagefooter
	       {
		     height: auto;
		     width: 100%;
		     background:white;
		     display: flex;
		      flex-wrap: wrap;

	       }
	       .imagefooter img{
        		margin-top: 30px;
        		margin-left: 130px;
        		border-radius: 50%;

}



	         .imagefooter .breakfast_1{
        		
        	height: 225px;
        	width: 50%;
        	/*padding-left: 45px;*/

        	}

	       .imagefooter .breakfast_2{
        		
        	height: 225px;
        	width: 50%;
        	/*padding-left: 45px;*/

        	}
        	.imagefooter .breakfast_3{
        		
        	height: 225px;
        	width: 50%;
        	/*padding-left: 45px;*/

        	}
        	.imagefooter .breakfast_4{
        		
        	height: 225px;
        	width: 50%;
        	/*padding-left: 45px;*/

        	}
	       
	
        .imagefooter h3
        {
        		color: black;
        		
        }

        .imagefooter p
        {
        	color:grey;

        }
           
        .about .about_image
        {
           	height: auto;
           	width: 100%;
          
        }

        .about .about_image .image_1
        {
           	height: 600px;
           	width: 50%;
           	margin-left: 0;


        }

        .about .about_image .image_1 .img1
        {
           	height: 600px;
           	width: 50%;

        }

        .about .about_image .image_1 .img2
        {
           	height: 600px;
           	width: 50%;
           	
        }

        .about .about_image .about_text
        {
        	 	height: 550px;
        	 	width: 50%;
        	 	
        }

        .about .count .count_1
        {
              	height: 75px;
   	            width: 20%;
   	            padding-left: 0;
   	            
         }

         .about .count .count_2
         {
              	height: 75px;
   	            width: 20%;
   	            padding-left: 0;
   	            
          }

          .about .count .count_3
          {
              	height: 75px;
   	            width: 20%;
   	            padding-left: 0;
   	            
          }

           .about .count .count_4
           {
              	height: 75px;
   	            width: 20%;
   	            padding-left: 0;
   	            
           }

            .about .count .count_5
            {
              	height: 250px;
   	            width: 20%;
   	            padding-left: 0;
   	            text-align: center;
   	            
             }

             .chef span
             {
                	position: absolute;
                    top: 10px;
                    left: 43%;
             }

             .chef h1
             {
                	padding-left: 29%;
             }

             .chef .chef_div
             {
                 	margin-left: 0;
                 	padding-left: 120px;
                 	/*width: 100%;*/
             }
              .reservetion_form{width: 70%;height: auto;margin-left: 120px;}
             .reservetion_form span{left:50px ;}
             .reservetion_form h1{padding-left: 50px;font-size: 45px;}

                  table , tr,td{
             	display: block;
             	width: 100%;
             }


             /* .reservetion_form  table{
             	margin-left: 70px;
             
             	
             } */
             .reservetion_form  table input{
             	width: 190%;
             }
             .reservetion_form  table select{
             	width: 190%;
             }

             .reservetion_form  button{
             	margin-left: 40px;
             	width: 81%;
             	margin-top: 10px;
             	margin-bottom: 30px;
             }




}




@media (max-width: 762px)
{
                 
                 .imagefooter{
		
		height: auto;
		
		display: block;
		
		background: white;
		

	}
	.imagefooter .breakfast_1, .breakfast_2, .breakfast_3, .breakfast_4{
        	height: 225px;
        	width: 100%;
        	padding-left: 225px;



        	
        	}
        	.imagefooter .breakfast_2{
        		
        	height: 225px;
        	width: 100%;
        	

        	}
        	.imagefooter .breakfast_3{
        	height: 225px;
        	width: 100%;
        	
        }
        .imagefooter .breakfast_4{
        	height: 225px;
        	width: 100%;
        	
        }


        	
        	.imagefooter h3{
        		color: black;
        	}
        	.imagefooter p{
        		
        		color:grey;

        	}
        	.about .about_image{
        		height: auto;
        		width: 100%;
        		
        		
        	}
        	.about .about_image .image_1{
        		height: 550px;
        		width: 70%;
        		margin-left: 125px;

        		
        		
        	}
        	.about .about_image .image_1 .img1{
        		height:550px ;
        		width: 50%;
        		
        		padding: 0;
        	}
        	.about .about_image .image_1 .img2{
        		height: 521px;
        		width: 50%;
        		
        		padding: 0;
        	}
        	 .about .about_image .about_text{
        	 	height: 550px;
        	 	width: 70%;
        	 	margin-left: 125px;

        	 }
        	 .about .count {
        	 	
        	 	padding-left: 0;
        	 }
        	 .about .count .count_1{
              	height: 100px;
   	            width: 100%;
   	            padding-left: 0;
   	            
                }
                .about .count .count_1 strong{
                	margin-left: 0
                }
                .about .count .count_1  span{
                	margin-left: 0;
                }
                 
                  .about .count .count_2{
                	height: 100px;
   	                width: 100%;
   	               
   	               padding-left: 0;
                   }
                    .about .count .count_2 strong{
                	margin-left: 0;
                }
                .about .count .count_2  span{
                	margin-left: 0;
                }
                   .about .count .count_3{
   	height: 100px;
   	width: 100%;
   
   	padding-left: 0;
   }
    .about .count .count_3 strong{
                	margin-left: 0;
                }
                .about .count .count_3  span{
                	margin-left: 10px;
                }
   .about .count .count_4{
   	height: 100px;
   	width: 100%;
   
   }
    .about .count .count_4 strong{
                	margin-left: 0;
                }
                .about .count .count_4  span{
                	margin-left: 35px;
                }
   .about .count .count_5{
   	height: 150px;
   	width: 70%;
   	margin-left: 120px;
   	
   }
    .about .count .count_5  span{
    	margin-left:0;
    	display: block;
    }

     .services span{
    	display: block;
    	width: 100%;
    	position: absolute;
    	top: 60px;
    	left: 250px;
    	
    }
    .services h1{
    	
    	padding-top: 120px;
    	padding-left: 200px;

    }
     .services .services_div{
    	width: 100%;
    	
    	margin-left:0;
    }
    .services .services_div .Birthday{
    	height: auto;
    	width:70%;
    	margin-left: 130px;
    }
    .services .services_div .Business{
    	height: auto;
    	width: 70%;
    	margin-left: 130px;
    	
    }
     .services .services_div .Wedding{
     	height: auto;
     	width: 70%;
     	margin-left: 130px;
     	
     }
     .menu{
     	height: auto;
     }


     .menu span{
     	position: absolute;
     	top: 100px;
     	left: 230px;
     	
     }
     .menu h1{
     	font-size: 45px;
     	padding-top: 90px;
     	padding-left: 300px;
     }
     .menu .menu_images{
     	width: 100%;
     	height: auto;
     	margin-left: 0;
     	display: flex;
     	flex-wrap: wrap;
     	
     }
     .pic{
     	height: 225px;
     	width: 50%;
     	
     }
     .order{
     	height: 225px;
     	
     	width: 50%;
     }
     .menu .menu_images  .menu_div1 .menu1{
     	width: 65%;
     	height: auto;
     	margin-left: 150px;

     }
     .menu .menu_images  .menu2{
     	width: 65%;
     	height: auto;
     	margin-left: 150px;
     }
      
     .menu .menu_images .menu_div2 .menu3{

     	width: 65%;
     	height: auto;
     	margin-left: 150px;
     }
     .menu .menu_images .menu_div2 .menu4{
     	
     	width: 65%;
     	height: auto;
     	margin-left: 150px;
     }
      .menu .menu_images .menu_div3 .menu5{
      	width: 65%;
      	height: auto;
      	margin-left: 150px;
      	
      }
      .menu .menu_images .menu_div3 .menu6{
      	width: 65%;
      	height: auto;
      	margin-left: 150px;
      }
          
       .chef span{
            	position: absolute;
            	top: 150px;
            	left: 300px;
            }
            .chef h1{
            	font-size: 45px;
            	padding-left: 200px;
            	padding-top: 80px;
            }
            .chef .chef_div{
            	width: 100%;
            	
            	margin-left: 0;
            }
            .chef .chef_div .chef_1{
            	width: 75%;
            	margin-left: 100px;
            	height: 450px;
            }
            /*.chef .chef_div  img{
            	object-fit:cover;
            }*/


             .chef .chef_div .chef_2{
            	width: 75%;
            	margin-left: 100px;
            	height: 450px;

            }
             .chef .chef_div .chef_3{
            	width: 75%;
            	margin-left: 100px;
            	height: 450px;
            }
             .chef .chef_div .chef_4{
            	width: 75%;
            	margin-left: 100px;
            	height: 450px;
            }
  

             .reservetion_form{width: 70%;height: auto;margin-left: 120px;}
             .reservetion_form span{left:50px ;}
             .reservetion_form h1{padding-left: 50px;font-size: 45px;}

                  table , tr,td{
             	display: block;
             	width: 100%;
             }


             /* .reservetion_form  table{
             	margin-left: 70px;
             
             	
             } */
             .reservetion_form  table input{
             	width: 190%;
             }
             .reservetion_form  table select{
             	width: 190%;
             }

             .reservetion_form  button{
             	margin-left: 40px;
             	width: 81%;
             	margin-top: 10px;
             	margin-bottom: 30px;
             }

             .customer_div{
             	height: auto;
             	position: relative;
             }
             .customer_div span{
             	position: absolute;
             	top: 90px;
             	left: 220px;

             }
             .customer_div h1{
             	font-size: 42px;
             	padding-left:200px;
             	padding-top: 140px;
             }

             .customer_div .customers{
             	height: auto;

             	width: 80%;
             	margin: 25px auto 0 auto;
             	/*padding-left: 10px;*/
             }
             .customer_div .customers .customer_1{
             	width: 100%;
             	/*overflow: hidden;*/
             }
             
             .customer_div .customers  .customer_pic{
        height: 125px;
        width: 125px;
        margin-left: 200px;
        
       }
       .customer_div .customers .mark{
       
        margin-left: 180px;
        


       }
       .customer_div .customers .paragraph{
            
            margin-left: 200px;
          
         }
             .customer_div .customers .customer_2{
               display: none;
             }
             .customer_div .customers .customer_3{
                display: none;
             }

     


	           .blog
	           {
             	     height: auto;
                }
                .blog span{
         
    top: 80px;
    left:38%;
    
       }
       .blog h1{
        
       
        padding-top: 130px;
        padding-left: 29%;

       }

             .blog .blog_div
             {
             	height: auto;
             	width: 75%;

             }

             .blog .blog_div .recent_post_1, .recent_post_2, .recent_post_3
             {
             	width: 100%;
             }

             .blog .blog_div  i
              {
             margin-left: 330px;
              }
 }
@media (max-width: 754px){
   

       .imagefooter{
		
		height: auto;
		
		display: block;
		
		background: white;
		
	}
	.imagefooter img{
        		margin-top: 30px;
        		margin-left: 270px;
        		border-radius: 50%;
        	}
        	 .imagefooter h3{

                margin-left: 2px;
               
            }
            .imagefooter p{

                margin-left: 10px;
                
                font-size:14px;
            }
	.imagefooter .breakfast_1, .breakfast_2, .breakfast_3, .breakfast_4{
        	height: 225px;
        	width: 100%;
        	padding-left: 45px;



        	/*background: coral;*/
        	}
        	.imagefooter .breakfast_2{
        		
        	height: 225px;
        	width: 100%;
        	padding-left: 45px;

        	}
        	.imagefooter .breakfast_3{
        	height: 225px;
        	width: 100%;
        	padding-left: 45px;
        }
        .imagefooter .breakfast_4{
        	height: 225px;
        	width: 100%;
        	padding-left: 45px;
        }


        	
        	.imagefooter h3{
        		color: black;
        	}
        	.imagefooter p{
        		
        		color:grey;

        	}
        }

	      

@media (max-width: 715px){
	.text span{
		      position: absolute;
				top: 220px;
				left: 200px;
				font-size: 75px;
	}
	.text h1{
		font-size: 30px;
		padding-top: 300px;
	}
	.imagefooter .breakfast_1, .breakfast_2, .breakfast_3, .breakfast_4
	         {
        	     height: 200px;
        	     width: 100%;
        	     padding-left: 30px;

        	  }

        	  .imagefooter .breakfast_2
        	  {
        		
        	     height: 200px;
        	     width: 100%;
        	     padding-left: 30px;
              }

        	  .imagefooter .breakfast_3
        	  {
        	     height: 200px;
        	     width: 100%;
        	     padding-left: 30px;
              }

              .imagefooter .breakfast_4
              {
        	     height: 200px;
        	     width: 100%;
        	     padding-left: 30px;
              }

        	  .imagefooter h3
        	  {
        		color: black;
        		/*margin-left: 20px;*/
        	   }

        	   .imagefooter p
        	   {
        		
        		color:grey;

        	   }
        	   .imagefooter img{
        		/*margin-top: 30px;*/
        		margin-left: 265px;
        		/*border-radius: 50%;*/
        	}
        	.about .about_image{
        		height: auto;
        		width: 100%;
        		/*margin-top: 100px;*/
        		
        	}
        	.about .about_image .image_1{
        		height: 550px;
        		width: 85%;
        		margin-left: 60px;

        		
        		
        	}
        	.about .about_image .image_1 .img1{
        		height:550px ;
        		width: 50%;
        		/*padding-left: 0;*/
        		padding: 0;
        	}
        	.about .about_image .image_1 .img2{
        		height: 521px;
        		width: 50%;
        		/*margin-top: 30px;*/
        		padding: 0;
        	}
        	 .about .about_image .about_text{
        	 	height: 550px;
        	 	width: 85%;
        	 	margin-left: 60px;

        	 }
        	 .about .count {
        	 	/*text-align: center;*/
        	 	padding-left: 0;
        	 }
        	 .about .count .count_1{
              	height: 100px;
   	            width: 100%;
   	            padding-left: 20px;
   	            
                }
                .about .count .count_1 strong{
                	margin-left: 0
                }
                .about .count .count_1  span{
                	margin-left: 0;
                }
                 
                  .about .count .count_2{
                	height: 100px;
   	                width: 100%;
   	               /*background: pink;*/
   	               padding-left: 20px;
                   }
                    .about .count .count_2 strong{
                	margin-left: 0;
                }
                .about .count .count_2  span{
                	margin-left: 0;
                }
                   .about .count .count_3{
   	height: 100px;
   	width: 100%;
   	/*background: pink;*/
   	padding-left: 20px;
   }
    .about .count .count_3 strong{
                	margin-left: 0;
                }
                .about .count .count_3  span{
                	margin-left: 10px;
                }
   .about .count .count_4{
   	height: 100px;
   	width: 100%;
   	/*background: pink;*/
   	margin-left: 20px;
   }
    .about .count .count_4 strong{
                	margin-left: 0;
                }
                .about .count .count_4  span{
                	margin-left: 35px;
                }
   .about .count .count_5{
   	height: 150px;
   	width: 100%;
   	margin-left: 20px;
   	/*background: pink;*/
   }
    .about .count .count_5  span{
    	margin-left:0;
    	display: block;
    }
     .services{
    	margin-top: 0;
    }
    .services span{
    	display: block;
    	width: 100%;
    	position: absolute;
    	top: 60px;
    	left: 190px;
    	/*text-align: center;*/
    }
    .services h1{
    	font-size: 40px;
    	/*text-align: center;*/
    	padding-top: 120px;
    	padding-left: 140px;

    }
    .services .services_div{
    	width: 100%;
    	/*margin-left: 10px;*/
    	margin-left:0;
    }
    .services .services_div .Birthday{
    	height: auto;
    	width: 85%;
    	margin-left: 70px;
    	
    }
    .services .services_div .Business{
    	height: auto;
    	width: 85%;
    	margin-left: 70px;
    	
    }
     .services .services_div .Wedding{
     	height: auto;
     	width: 85%;
     	margin-left: 70px;
     	
     }
     .menu{
     	height: auto;
     }


     .menu span{
     	position: absolute;
     	top: 100px;
     	left: 150px;
     	
     }
     .menu h1{
     	font-size: 45px;
     	padding-top: 90px;
     	padding-left: 200px;
     }
     .menu .menu_images{
     	width: 100%;
     	height: auto;
     	margin-left: 0;
     	display: flex;
     	flex-wrap: wrap;
     	
     }
     .pic{
     	height: 225px;
     	width: 50%;
     	
     }
     .order{
     	height: 225px;
     	
     	width: 50%;
     }
     .menu .menu_images  .menu_div1 .menu1{
     	width: 75%;
     	height: auto;
     	margin-left: 80px;

     }
     .menu .menu_images  .menu2{
     	width: 75%;
     	height: auto;
     	margin-left: 80px;
     }
      
     .menu .menu_images .menu_div2 .menu3{

     	width: 75%;
     	height: auto;
     	margin-left: 80px;
     }
     .menu .menu_images .menu_div2 .menu4{
     	
     	width: 75%;
     	height: auto;
     	margin-left: 80px;
     }
      .menu .menu_images .menu_div3 .menu5{
      	width: 75%;
      	height: auto;
      	margin-left: 80px;
      	
      }
      .menu .menu_images .menu_div3 .menu6{
      	width: 75%;
      	height: auto;
      	margin-left: 80px;
      }
      .chef{
            	height: auto;
            	padding-top: 200px;
            	position: relative;
            }
            .chef span{
            	position: absolute;
            	top: 150px;
            	left: 250px;
            }
            .chef h1{
            	font-size: 45px;
            	padding-top: 30px;
            	padding-left: 150px;
            }
            .chef .chef_div{
            	width: 100%;
            	margin-left: 0;
            }
            .chef .chef_div .chef_1{
            	width: 85%;
            	/*height: 250px;*/

            	margin-left: 60px;
            }
             .chef .chef_div .chef_2{
            	width: 85%;
            	margin-left: 60px;
            }
             .chef .chef_div .chef_3{
            	width: 85%;
            	margin-left: 60px;
            }
             .chef .chef_div .chef_4{
            	width: 85%;
            	margin-left: 60px;
            }
            .reservetion_form{width: 70%;height: auto;margin-left: 120px;}
             .reservetion_form span{left:50px ;}
             .reservetion_form h1{padding-left: 50px;font-size: 45px;}

                  table , tr,td{
             	display: block;
             	width: 85%;
             }


             /* .reservetion_form  table{
             	margin-left: 70px;
             
             	
             } */
             .reservetion_form  table input{
             	width: 220%;
             }
             .reservetion_form  table select{
             	width: 220%;
             }

             .reservetion_form  button{
             	margin-left: 40px;
             	width: 81%;
             	margin-top: 10px;
             	margin-bottom: 30px;
             }


            .customer_div{
             	height: auto;
             	position: relative;
             }
             
             .customer_div span{
             	position: absolute;
             	top: 70px;
             	left: 170px;

             }
             .customer_div h1{
             	font-size: 42px;
             	padding-left:140px;
             	padding-top: 120px;
             }

             .customer_div .customers{
             	height: auto;

             	width: 80%;
             	margin: 25px auto 0 auto;
             	/*margin-top: 10px;*/
             }
             .customer_div .customers .customer_1{
             	width: 100%;
             	/*overflow: hidden;*/
             }
             .customer_div .customers  .customer_pic{
        
        margin-left: 180px;
        margin-top: 15px;
        
       }
        
       .customer_div .customers .mark{
        
        margin-left: 170px;
        


       }
       .customer_div .customers .paragraph{
            
            margin-left: 185px;
           
         }
             .customer_div .customers .customer_2{
               display: none;
             }
             .customer_div .customers .customer_3{
                display: none;
             }
             .blog{
             	height: auto;

             }
             .blog .blog_div{
             	height: auto;
             	width: 100%;
             	margin-left: 0;
             }
              .blog span{
              	top:50px ;
              	left:37% ;
              }
              .blog h1{
              	padding-left: 150px;
              	padding-top:100px ;

              }
             .blog .blog_div .recent_post_1, .recent_post_2, .recent_post_3{
             	width: 80%;
             	margin-left:60px;
             }
             .blog .blog_div  i{
             margin-left: 200px;
    }
    .footer{
     	height: auto;
     	width: 100%;
     }
     .footer .footer_part{
     	height: auto;
     	width: 85%;

     }
     .footer .footer_part .part_1, .part_2, .part_3, .part_4{
     	width: 100%;
     	height: auto;
     }
     .footer .Copyright {
     	  	margin-left: 30px;
     	
     }

	       

}

@media(max-width: 645px){
	.text span{
		      position: absolute;
				top: 220px;
				left: 150px;
				font-size: 75px;
	}
	.text h1{
		font-size: 30px;
		padding-top: 300px;
	}
	.imagefooter .breakfast_1, .breakfast_2, .breakfast_3, .breakfast_4
	         {
        	     height: 200px;
        	     width: 100%;
        	     padding-left: 30px;

        	  }

        	  .imagefooter .breakfast_2
        	  {
        		
        	     height: 200px;
        	     width: 100%;
        	     padding-left: 30px;
              }

        	  .imagefooter .breakfast_3
        	  {
        	     height: 200px;
        	     width: 100%;
        	     padding-left: 30px;
              }

              .imagefooter .breakfast_4
              {
        	     height: 200px;
        	     width: 100%;
        	     padding-left: 30px;
              }

        	  .imagefooter h3
        	  {
        		color: black;
        		/*margin-left: 20px;*/
        	   }

        	   .imagefooter p
        	   {
        		
        		color:grey;

        	   }
        	   .imagefooter img{
        		/*margin-top: 30px;*/
        		margin-left: 220px;
        		/*border-radius: 50%;*/
        	}
        	.about .about_image{
        		height: auto;
        		width: 100%;
        		/*margin-top: 100px;*/
        		
        	}
        	.about .about_image .image_1{
        		height: 550px;
        		width: 100%;
        		margin-left: 0;

        		
        		
        	}
        	.about .about_image .image_1 .img1{
        		height:550px ;
        		width: 50%;
        		/*padding-left: 0;*/
        		padding: 0;
        	}
        	.about .about_image .image_1 .img2{
        		height: 521px;
        		width: 50%;
        		/*margin-top: 30px;*/
        		padding: 0;
        	}
        	 .about .about_image .about_text{
        	 	height: 550px;
        	 	width: 100%;
        	 	margin-left: 10px;

        	 }
        	 .about .count {

        	 	padding-left: 0;
        	 }
        	 .about .count .count_1{
              	height: 100px;
   	            width: 100%;
   	            padding-left: 0;
   	            
                }
                .about .count .count_1 strong{
                	margin-left: 0
                }
                .about .count .count_1  span{
                	margin-left: 0;
                }
                 
                  .about .count .count_2{
                	height: 100px;
   	                width: 100%;
   	               
   	               padding-left: 0;
                   }
                    .about .count .count_2 strong{
                	margin-left: 0;
                }
                .about .count .count_2  span{
                	margin-left: 0;
                }
                   .about .count .count_3{
   	height: 100px;
   	width: 100%;

   	padding-left: 0;
   }
    .about .count .count_3 strong{
                	margin-left: 0;
                }
                .about .count .count_3  span{
                	margin-left: 10px;
                }
   .about .count .count_4{
   	height: 100px;
   	width: 100%;
   	
   }
    .about .count .count_4 strong{
                	margin-left: 0;
                }
                .about .count .count_4  span{
                	margin-left: 35px;
                }
   .about .count .count_5{
   	height: 150px;
   	width: 100%;
   	margin-left: 0;
   	
   }
    .about .count .count_5  span{
    	margin-left:0;
    	display: block;
    }
     .services{
    	margin-top: 0;
    }
    .services span{
    	display: block;
    	width: 100%;
    	position: absolute;
    	top: 60px;
    	left: 140px;
    	
    }
    .services h1{
    	font-size: 40px;
    	
    	padding-top: 120px;
    	padding-left: 110px;

    }
    .services .services_div{
    	width: 100%;
    	
    	margin-left:0;
    }
    .services .services_div .Birthday{
    	height: auto;
    	width: 85%;
    	margin-left: 50px;
    	
    }
    .services .services_div .Business{
    	height: auto;
    	width: 85%;
    	margin-left: 50px;
    	
    }
     .services .services_div .Wedding{
     	height: auto;
     	width: 85%;
     	margin-left: 50px;
     	
     }
     .menu{
     	height: auto;
     }


     .menu span{
     	position: absolute;
     	top: 100px;
     	left: 150px;
     	
     }
     .menu h1{
     	font-size: 45px;
     	padding-top: 90px;
     	padding-left: 200px;
     }
     .menu .menu_images{
     	width: 100%;
     	height: auto;
     	margin-left: 0;
     	display: flex;
     	flex-wrap: wrap;
     	
     }
     .pic{
     	height: 225px;
     	width: 50%;
     	
     }
     .order{
     	height: 225px;
     	
     	width: 50%;
     }
     .menu .menu_images  .menu_div1 .menu1{
     	width: 75%;
     	height: auto;
     	margin-left: 80px;

     }
     .menu .menu_images  .menu2{
     	width: 75%;
     	height: auto;
     	margin-left: 80px;
     }
      
     .menu .menu_images .menu_div2 .menu3{

     	width: 75%;
     	height: auto;
     	margin-left: 80px;
     }
     .menu .menu_images .menu_div2 .menu4{
     	
     	width: 75%;
     	height: auto;
     	margin-left: 80px;
     }
      .menu .menu_images .menu_div3 .menu5{
      	width: 75%;
      	height: auto;
      	margin-left: 80px;
      	
      }
      .menu .menu_images .menu_div3 .menu6{
      	width: 75%;
      	height: auto;
      	margin-left: 80px;
      }
      .chef{
            	height: auto;
            	padding-top: 200px;
            	position: relative;
            }
            .chef span{
            	position: absolute;
            	top: 150px;
            	left: 200px;
            }
            .chef h1{
            	font-size: 45px;
            	padding-top: 30px;
            	padding-left: 100px;
            }
            .chef .chef_div{
            	width: 100%;
            	margin-left: 0;
            }
            .chef .chef_div .chef_1{
            	width: 85%;

            	margin-left: 40px;
            }
             .chef .chef_div .chef_2{
            	width: 85%;
            	margin-left: 40px;
            }
             .chef .chef_div .chef_3{
            	width: 85%;
            	margin-left: 40px;
            }
             .chef .chef_div .chef_4{
            	width: 85%;
            	margin-left: 40px;
            }
            .customer_div{
             	height: auto;
             	position: relative;
             }
             .customer_div span{
             	position: absolute;
             	top: 70px;
             	left: 130px;

             }
             .customer_div h1{
             	font-size: 42px;
             	padding-left:100px;
             	padding-top: 110px;
             }

             .customer_div .customers{
             	height: auto;

             	width: 80%;
             	margin: 25px auto 0 auto;
             	/*margin-top: 10px;*/
             }
             .customer_div .customers .customer_1{
             	width: 100%;
             	/*overflow: hidden;*/
             }
             .customer_div .customers  .customer_pic{
        
        margin-left: 150px;
        margin-top: 15px;
       

       }
        
       .customer_div .customers .mark{
        
        margin-left: 120px;
        


       }
       .customer_div .customers .paragraph{
           
            margin-left: 145px;
            
         }
             .customer_div .customers .customer_2{
               display: none;
             }
             .customer_div .customers .customer_3{
                display: none;
             }
             .blog{
             	height: auto;

             }
             .blog .blog_div{
             	height: auto;
             	width: 100%;
             	margin-left: 0;
             }
              .blog span{
              	top:50px ;
              	left:35% ;
              }
              .blog h1{
              	padding-left: 110px;
              	padding-top:100px ;

              }
             .blog .blog_div .recent_post_1, .recent_post_2, .recent_post_3{
             	width: 85%;
             	margin-left:40px;
             }
             .blog .blog_div  i{
             margin-left: 200px;
    }
    .footer{
     	height: auto;
     	width: 100%;
     }
     .footer .footer_part{
     	height: auto;
     	width: 95%;

     }
     .footer .footer_part .part_1, .part_2, .part_3, .part_4{
     	width: 100%;
     	height: auto;
     }
     .footer .Copyright {
     	  	margin-left: 30px;
     	
     }
        	 

          

}

@media (max-width: 606px){
	 .reservetion_form{width: 70%;height: auto;margin-left: 120px;}
             .reservetion_form span{left:50px ;}
             .reservetion_form h1{padding-left: 50px;font-size: 45px;}

                  table , tr,td{
             	display: block;
             	width: 85%;
             }


             /* .reservetion_form  table{
             	margin-left: 70px;
             
             	
             } */
             .reservetion_form  table input{
             	width: 190%;
             }
             .reservetion_form  table select{
             	width: 190%;
             }

             .reservetion_form  button{
             	margin-left: 40px;
             	width: 81%;
             	margin-top: 10px;
             	margin-bottom: 30px;
             }



	          
}





@media (max-width: 509px)
{

	.main .header_up{
	        	display: none;
	        }
			
			.nav{
				
				background: black;
				border: none;
				

			}
			.nav .logo a{
				
				position: absolute;
				top:0;
				left: -100px;
				
			}

			.nav ul li{
				display: none;
			}
	.main{
		background-size: 100% 100%;
		
	}
	.main .text{
		border: none;
		height: 585px;
		width:100%;

	}
	.text span{
		      position: absolute;
				top: 220px;
				left: 120px;
				font-size: 75px;
	}
	.text h1{
		font-size: 30px;
		padding-top: 300px;
	}
	.imagefooter{
		height: auto;
		display: block;
		background: white;
		

	}
	.imagefooter img{
        		margin-top: 30px;
        		margin-left: 130px;
        		border-radius: 50%;
        	}
        	 .imagefooter h3{

                margin-left: 0;
                
            }
            .imagefooter p{

                margin-left: 10px;
                font-size:14px;
            }
	.imagefooter .breakfast_1, .breakfast_2, .breakfast_3, .breakfast_4{
        	height: 225px;
        	width: 100%;
        	padding-left: 45px;

        	}
        	.imagefooter .breakfast_2{
        		
        	height: 225px;
        	width: 100%;
        	padding-left: 45px;

        	}
        	.imagefooter .breakfast_3{
        	height: 225px;
        	width: 100%;
        	padding-left: 45px;
        }
        .imagefooter .breakfast_4{
        	height: 225px;
        	width: 100%;
        	padding-left: 45px;
        }


        	
        	.imagefooter h3{
        		color: black;
        	}
        	.imagefooter p{
        		
        		color:grey;

        	}
        	.about .about_image{
        		height: auto;
        		width: 100%;
        		/*margin-top: 100px;*/
        		
        	}
        	.about .about_image .image_1{
        		height: 550px;
        		width: 100%;
        		margin-left: 0;

        		
        		
        	}
        	.about .about_image .image_1 .img1{
        		height:550px ;
        		width: 50%;
        		/*padding-left: 0;*/
        		padding: 0;
        	}
        	.about .about_image .image_1 .img2{
        		height: 521px;
        		width: 50%;
        		
        		padding: 0;
        	}
        	 .about .about_image .about_text{
        	 	height: 550px;
        	 	width: 100%;
        	 	margin-left: 10px;

        	 }
        	 .about .count {
        	 	padding-left: 0;
        	 }
        	 .about .count .count_1{
              	height: 100px;
   	            width: 100%;
   	            padding-left: 0;
   	            
                }
                .about .count .count_1 strong{
                	margin-left: 0
                }
                .about .count .count_1  span{
                	margin-left: 0;
                }
                 
                  .about .count .count_2{
                	height: 100px;
   	                width: 100%;
   	               /*background: pink;*/
   	               padding-left: 0;
                   }
                    .about .count .count_2 strong{
                	margin-left: 0;
                }
                .about .count .count_2  span{
                	margin-left: 0;
                }
                   .about .count .count_3{
   	height: 100px;
   	width: 100%;
   
   	padding-left: 0;
   }
    .about .count .count_3 strong{
                	margin-left: 0;
                }
                .about .count .count_3  span{
                	margin-left: 10px;
                }
   .about .count .count_4{
   	height: 100px;
   	width: 100%;
   	
   }
    .about .count .count_4 strong{
                	margin-left: 0;
                }
                .about .count .count_4  span{
                	margin-left: 35px;
                }
   .about .count .count_5{
   	height: 150px;
   	width: 100%;
   	margin-left: 0;
   	
   }
    .about .count .count_5  span{
    	margin-left:0;
    	display: block;
    }
    .services{
    	margin-top: 0;
    }
    .services span{
    	display: block;
    	width: 100%;
    	position: absolute;
    	top: 60px;
    	left: 90px;
    	
    }
    .services h1{
    	font-size: 40px;
    	
    	padding-top: 120px;
    	padding-left: 50px;

    }
    .services .services_div{
    	width: 100%;
    	
    	margin-left:0;
    }
    .services .services_div .Birthday{
    	height: auto;
    	width: 85%;
    	margin-left: 30px;
    	
    }
    .services .services_div .Business{
    	height: auto;
    	width: 85%;
    	margin-left: 30px;
    	
    }
     .services .services_div .Wedding{
     	height: auto;
     	width: 85%;
     	margin-left: 30px;
     	
     }
     .menu{
     	position: relative;
     	height: auto;
     }
     .menu span{
     	position: absolute;
     	top: 100px;
     	left: 80px;
     	font-size: 75px;
     }
     .menu h1{
     	font-size: 45px;
     	padding-top: 70px;
     	padding-left: 110px;
     }
     .menu .menu_images{
     	width: 100%;
     	height: auto;
     	margin-left: 0;
     	display: flex;
     	flex-wrap: wrap;
     	
     }
     .pic{
     	height: 250px;
     	width: 100%;
     	
     }
     .order{
     	height: 180px;
     	
     	width: 100%;
     }
     .menu .menu_images  .menu_div1 .menu1{
     	width: 95%;
     	height: auto;
     	margin-left: 10px;

     }
     .menu .menu_images  .menu2{
     	width: 95%;
     	height: auto;
     	margin-left: 10px;
     }
      
     .menu .menu_images .menu_div2 .menu3{

     	width: 95%;
     	height: auto;
     	margin-left: 10px;
     }
     .menu .menu_images .menu_div2 .menu4{
     	
     	width: 95%;
     	height: auto;
     	margin-left: 10px;
     }
      .menu .menu_images .menu_div3 .menu5{
      	width: 95%;
      	height: auto;
      	margin-left: 10px;
      	
      }
      .menu .menu_images .menu_div3 .menu6{
      	width: 95%;
      	height: auto;
      	margin-left: 10px;
      }
     
            .chef{
            	height: auto;
            	padding-top: 200px;
            	position: relative;
            }
            .chef span{
            	position: absolute;
            	top: 150px;
            	left: 150px;
            }
            .chef h1{
            	font-size: 45px;
            	padding-top: 30px;
            	padding-left: 40px;
            }
            .chef .chef_div{
            	width: 100%;
            	margin-left: 0;
                padding-left: 30px;
            }
            .chef .chef_div .chef_1{
            	width: 85%;

            	margin-left: 40px;
            }
             .chef .chef_div .chef_2{
            	width: 85%;
            	margin-left: 40px;
            }
             .chef .chef_div .chef_3{
            	width: 85%;
            	margin-left: 40px;
            }
             .chef .chef_div .chef_4{
            	width: 85%;
            	margin-left: 40px;
            }


             

             .background_fix{width: 100%;/*height: auto;*/ padding-top: 100px;}
             .reservetion_form{width: 100%;height: auto;margin-left: 0;}
             .reservetion_form span{left:20px ;}
             .reservetion_form h1{padding-left: 20px;font-size: 45px;}

             /* .reservetion_form  table{
             	margin-left: 70px;
             } */
             table , tr,td{
             	display: block;
             	width: 100%;
             }
             .reservetion_form  table input{
             	width: 160%;
             }
             .reservetion_form  table select{
             	width: 160%;
             }

             .reservetion_form  button{
             	margin-left: 40px;
             	width: 81%;
             	margin-top: 10px;
             	margin-bottom: 30px;
             }


             .customer_div{
             	height: auto;
             	position: relative;
             }
             .customer_div span{
             	position: absolute;
             	top: 70px;
             	left: 50px;

             }
             .customer_div h1{
             	font-size: 42px;
             	padding-left:50px;
             	padding-top: 110px;
             }

             .customer_div .customers{
             	height: auto;

             	width: 80%;
             	margin: 25px auto 0 auto;
             	
             }
             .customer_div .customers .customer_1{
             	width: 100%;
             	
             }
             .customer_div .customers  .customer_pic{
        
        margin-left: 80px;
        margin-top: 15px;
        

       }
       
       .customer_div .customers .mark{
        /*font-size: 23px;*/
        /*font-weight: 400px;*/
        /*margin-top: 10px;*/
        margin-left: 80px;
        


       }
       .customer_div .customers .paragraph{
            
            margin-left: 105px;
           
         }
             .customer_div .customers .customer_2{
               display: none;
             }
             .customer_div .customers .customer_3{
                display: none;
             }

             .blog{
             	height: auto;

             }
             .blog .blog_div{
             	height: auto;
             	width: 100%;
             	margin-left: 0;
             }
              .blog span{
              	top:50px ;
              	left:33% ;
              }
              .blog h1{
              	padding-left: 50px;
              }
             .blog .blog_div .recent_post_1, .recent_post_2, .recent_post_3{
             	width: 85%;
             	margin-left:40px;
             }
             .blog .blog_div  i{
             margin-left: 200px;
    }

     .footer{
     	height: auto;
     	width: 100%;
     }
     .footer .footer_part{
     	height: auto;
     	width: 95%;

     }
     .footer .footer_part .part_1, .part_2, .part_3, .part_4{
     	width: 100%;
     	height: auto;
     }
     .footer .Copyright {
     	  	margin-left: 30px;
     	
     }
        	 
}