*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body img{
    object-fit: cover;
}
.main{
   
    background-image: linear-gradient(#fdf4f294,#fdf4f2cc),url('../images/bg_2.jpg.webp');
    background-attachment: fixed;
    display: grid;
    background-size: 100% 100%;
   
    
}
/* --------------------------------------header section start----------------------------------- */
.header{
    background-color: yellow;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 70px;
    padding-top: 30px;
    width: 100%;
    
   
}
.chackbtn{
    display: none;
}
.logo{
    background-color: transparent;
    padding: 10px;
    padding-left: 80px;
}
.logo a{
    text-decoration: none;
    font-size: 26px;
    font-weight: 400;
    color: black;
  
    
}
.logo a span{
    font-size: 15px;
}
.nav{
    background-color: transparent;
  
}
.nav ul{
    list-style: none;
    width: auto;
    padding: 15px 0;
    
}
.nav ul li{
    display: inline-block;
    padding: 10px;

}
.nav ul li .blog_text{
    color: #e95b3a;
}
.nav ul li a{
    text-decoration: none;
    padding: 13px;
    font-size:17px;
    font-weight: 400;
    color: black;
    
}

/*------------------------------------------- header section end ----------------------------------------*/
/*----------------------- text section start------------------- */
.text{
    background-color: aqua;
    display: grid;
    margin-top: 400px;
    margin-bottom: 72px;

  }
  .text p{
    padding-left: 200px;
    font-size: 20px;
  }
  .text p i{
    padding-left: 5px;
    padding-right: 5px;
  }
  .text p .s1 a{
    color: #e95b3a;
    text-decoration: none;
  }
  .text h1{
    padding-left:200px ;
    font-size: 50px;
    font-weight: 200;
    
  }

/*--------------------- text section end ---------------------------------*/

/*------------ contact us section start---------------- */
.contact{
    background-color: palevioletred;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows:700px;
    padding: 100px ;
}
.contact .contact_section{
    border: 1px solid;
    padding: 50px 30px;
    background-color: white;
}
.contact_section h1{
    font-size: 45px;
    font-weight: 200;
}
.contact_section p{
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}
table {
     width: 95%;
}
table tr td span {
    color: gray;
    padding-top:10px;
}
table input{
    padding: 15px 10px;
    width: 180px;
    /* outline: none; */
    border:  1px solid #8080801a;
}
table tr td  label{
    font-size: 17px;
    font-weight: bold;
   
} 
::placeholder{
    font-size: 16px;
}
table tr td span a{
    text-decoration: none;
    color: #e95b3a;
    font-size: 17px;
   
}
table textarea{
    padding: 10px;
    border:  1px solid #8080801a;
   
}
table button{
    background-color: #e95b3a;
    border-radius: 5px;
    /* outline: none; */
    border: none;
    padding: 10px 15px;
}
table button a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.contact_section h3{
    font-size: 24px;
    font-weight: 100;
    padding-top: 30px;
}
.contact_section p a{
    text-decoration: none;
    font-size: 19px;
    padding: 10px;
    color: #e95b3a;
    font-weight: 500;
}
.contact_section p a:hover{
    color: black;
}


.contact .map{
    border: 1px solid;
}
/* ------------------contact us section end-------------- */

/* --------------------footer header section start--------------------- */
.footer_head{
    display: grid;
    background-image:linear-gradient(rgb(255 255 255 / 63%), rgb(255 255 255 / 63%)),url('../images/bg_3.jpg.webp') ;
    background-size: 100% 100%;
    padding: 60px 100px;
}
.footer_head .footer_part{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr;
    grid-template-rows: 300px;
}
.footer_part .foot_part1{
    border: 1px solid;
    padding-left: 5px;
   
}
.foot_part1 a{
    text-decoration: none;
    font-size: 29px;
    color: black;
}
.foot_part1 a span{
    font-size: 14px;
}
.foot_part1 p{
    font-size: 19px;
    font-weight: 400;
    padding-top: 40px;
    line-height: 1.5rem;
}
.foot_part1 ul{
    list-style: none;
    padding-top: 20px;
}
.foot_part1 ul li{
    display: inline-block;
    background-color: #e95b3a;
    padding: 8px;
    border-radius: 10px;
}
.foot_part1 ul li a{
    font-size: 15px;
    color: white;
}
.footer_part .foot_part2{
    border: 1px solid;
    padding-left: 5px;
    /* display: flex; */
}

.foot_part2 h2{
    font-size: 29px;
    font-weight: 200;
}
.foot_part2 .ul_part{
    display: flex;
    background-color: violet;
    margin-top: 40px;
}
.foot_part2 ul{
    background-color: antiquewhite;
    margin-left: 5px;
    list-style: none;
    
}
.foot_part2 ul li{
    font-size: 18px;
    padding: 5px;
}
.foot_part2 ul li:hover a{
    color: #e95b3a;
}
.foot_part2 ul li a{
    text-decoration: none;
    color: black;
    font-weight: 100;
}
.foot_part2 ul li a i{
    font-weight: 20;
    font-size: 12px;
    margin-right: 10px;
}
.foot_part2 ul li a:hover i{
    display: none;
}

.footer_part .foot_part3{
    border: 1px solid;
    padding-left: 5px;
    /* display: flex; */
}

.foot_part3 h2{
    font-size: 29px;
    font-weight: 200;
}
.foot_part3 .post{
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 85px;
    background-color: brown;
    margin-top: 20px;
}
.foot_part3 .post_pic, .post_text{
    border: 1px solid;
}
.foot_part3 .post_pic{
    padding: 10px;
   
}
.foot_part3 .post_pic img{
    border-radius: 5px;
}
.post_text p{
    padding-top: 5px;
}
.post_text p span a {
    padding: 5px 15px;
    text-decoration: none;
    color: black;
    font-weight: 50;
}
.post_text h3{
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
.post_text h3 a{
   text-decoration: none;
   color: black;
   font-weight: 200;
}
.post_text h3:hover a{
    color: #e95b3a;
}

.footer_part .foot_part4{
    border: 1px solid;
    padding-left: 5px;
    /* display: flex; */
}

.foot_part4 h2{
    font-size: 29px;
    font-weight: 200;
    
}
.foot_part4 .list{
    margin-top: 20px;
    background-color: aqua;
    height: 230px;
    

}
.foot_part4 .list ul{
    list-style: none;
}
.foot_part4 .list ul li{
    padding-top: 10px;
    padding-bottom: 10px;
}
.foot_part4 .list span{
    font-size: 17px;
}
.foot_part4 .list ul li  a{
    text-decoration: none;
    color: black;
}
.foot_part4 .list ul li i{
    padding: 5px 10px;
}

/*---------------------- footer section end------------------------ */

/* ---------------------------footer section start -------------------*/
.footer{
    background-color: #edcbbe;
    padding: 50px;
    text-align: center;
}
.footer p{
    color: gray;
    font-size: 17px;
}
.footer p a{
    color: #e95b3a;
    text-decoration: none;
}
/* ---------------------------footer section end----------------------- */